{% extends 'user/base.html' %}
{% block content %}
    <div class="form">
	    <form method="POST">
			{% csrf_token %}
			<fieldset>
				<h3>Song Selection</h3>
				{{ form.as_p }}
				<button type="submit">Update</button>
			</fieldset>
		</form>
	</div>
	
{% endblock %}