{% extends 'user/base.html' %}
{% block content %}
    <div class = "form">
	    <form method="POST">
			{% csrf_token %}
			<fieldset>
				{{ form.as_p }}
				<button type="submit">Add Nutrition Log</button>
			</fieldset>
			{% if nutrition_logs %}
			<div>
				<h3>Nutrition Logs</h3>
				{% for log in nutrition_logs %}
				<div>{{ log.date }}</div>
				<div>
					{{ log.calorie_intake }} calories | 
					{{ log.carbohydrates }} carbs | 
					{{ log.protein }} proteins | 
					{{ log.fat }} fats
				</div>
				<br>
				{% endfor %}
			</div>
			{% endif %}
		</form>
	<div>
{% endblock %}