{% extends 'user/base.html' %}
{% block content %}
	<div class = "form">
		<form method="POST">
			{% csrf_token %}
			<fieldset>
				<legend>
					{% if responses %}
						Update Survey Answers
					{% else %}
						Answer Survey Questions
					{% endif %}
				</legend>
				{{ formset.management_form }}
				{% for question in questions %}{% for form in formset %}
					{% if forloop.counter == forloop.parentloop.counter %}
						{{ question }} {{ form.as_p }}
					{% endif %}
				{% endfor %}{% endfor %}
				<button type="submit">Submit Answers</button>
			</fieldset>
		</form>
	</div>
{% endblock %}