{% extends 'user/base.html' %}
{% block content %}
	<div class="form">
		<form method="POST">
			{% csrf_token %}
			<button type="submit">Add Workout Log</button>
		</form>
		{% if workout_log %}
			<h3> Workout Logs</h3>
			{% for log in workout_log %}
				<div>{{ log.date }}</div>
				<div>{{log.workout}} Workout</div>
				<br>
			{% endfor %}
		{% else %}
			<h3>We have no records of your workouts! You should try one!</h3>
		{% endif %}
	</div>
{% endblock %}