@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Work+Sans:ital,wght@1,900&display=swap');

h1 {
	color: #191B20;
	font-family: 'Arial', sans-serif;
}

.home_headline {
	font-size: 250%;
	text-align: center;
	margin:0;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	padding-bottom: 58px;
	min-height: 100vh;
	background-color: #CDCDCD;
	font-family: 'Montserrat Alternates', sans-serif;
	font-color: #CDCDCD;
}

header, footer{
	text-align: right;
	background-color: #333;
	color: #fff;
	padding: 20px;
}

header {
	padding:3%;
}

main {
	width: 90vw;
	margin: 0 auto;
	padding: 30px 20px;
}

footer {
	position:absolute;
	bottom: 0;
	width: 100%;
}

a, button {
	cursor: pointer;
	border-radius: 3vw;
	font-size: 0.8em;
	padding: 1vw;
	font-family: 'Montserrat Alternates', sans-serif;
	font-color: #CDCDCD;
	text-decoration: none;
	background-color: #E5E5E5;
	margin: 0.5vw;
	border:none;
}

a#nav {
	background-color:transparent;
}

img.nav {
	max-width: 15%; 
	height: auto; 
	min-width: 80px;
}


div.form {
	display: block;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}

fieldset { 
	border:0; 
	margin-bottom: 5vh;
}

form {
	display: inline-block;
	margin-left: 3vw;
		margin-right: 3vw;
	text-align: center;
	padding:0;
}

input {
	border:none;
	display: inline-block;
	border-radius: 3vw;
	width: 100%;
	padding: 1vw;
	font-family: 'Montserrat Alternates', sans-serif;
	margin: 0.01vw;
	box-sizing: border-box;
	text-align: center;
}

p.footer {
	padding-right: 4vw;
}

p {
	margin: 5%;
}

#playlist {
	margin: 5%;
}

ul, li {
	list-style-type:none;
	margin-bottom: 5%;
}

div.music_player_container{
	width: 100%;
}
