{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Fitness Routine</title>
	<script src="{% static 'scripts/jquery-1.11.2.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
	<header>
		<nav>
			<a href="{% url 'home' %}">Home</a>
			{% if user.is_authenticated %}
				<a href="{% url 'logout' %}">Logout</a>
			{% else %}
				<a href="{% url 'login' %}">Sign In</a>
				<a href="{% url 'register' %}">Sign Up</a>
			{% endif %}
		</nav>
	</header>

	<main>
		{% if messages %}
			{% for message in messages %}
				<div style="text-align:center;">{{ message }}</div>
			{% endfor %}
		{% endif %}
     	{% block content %} {% endblock %}
    </main>

    <footer>
    	<img src="{% static 'images/logo_white.png' %}" style="max-width: 5%; height: auto;min-width: 100px">
	</footer>
</body>

</html>