{% extends 'user/base.html' %}
{% load static %}

{% block content %}
<div class = "home_headline">
	<h1>FITNESS ROUTINE</h1>
</div>

{% if user.is_authenticated %}
<nav style="text-align: center; margin-bottom: 2%; margin:10%">
		<a id="nav" href="{% url 'profile' %}"><img class="nav" src="{% static 'images/Profile.png' %}"></a>
	{% if user.profile.workout_category %}
		<a id="nav" href="{% url 'answer_survey'%}"><img class="nav" src="{% static 'images/Statistics.png' %}"></a>
		<a id="nav" href="{% url 'workoutlog' %}"><img class="nav" src="{% static 'images/Dumbell.png' %}"></a>
	{% else %}
		<a id="nav" href="{% url 'answer_survey'%}"><img class="nav" src="{% static 'images/Statistics.png' %}"></a>
	{% endif %}
		<a id="nav" href="{% url 'nutrition_log'%}"><img class="nav" src="{% static 'images/Nutrition.png' %}"></a>
		<a id="nav" href="{% url 'playlist_song'%}"><img class="nav" src="{% static 'images/Music.png' %}"></a>
</nav>
{% else %}
{% endif %}
{% endblock %}
