{% extends 'user/base.html' %}
{% block content %}
	<div class="form">
		<form method="POST">
			{% csrf_token %}
			<fieldset>
				<legend>Login</legend>
				{{ form.as_p }}
				<button type="submit">Login</button>
			</fieldset>
		</form>
		<div>
				Need an account? <br><br><a href="{% url 'register' %}">Sign Up</a>
		</div>
	</div>
{% endblock %}