{% extends 'user/base.html' %}
{% load static %}
{% block content %}
	<br>
	
	<br>
    <div class="form">
	    <form method="POST">
			{% csrf_token %}
			<fieldset>
				<h3>Profile Info</h3>
				{{ form.as_p }}
				<button type="submit">Update</button>
			</fieldset>
		</form>

		{% if routines %}
		<div>
			<h3>Workout Plan - {{ user.profile.workout_category }} Workouts</h3>
			{% for routine in routines %}
				<div>{{ routine.routine }}</div>
			{% endfor %}
		</div>
		{% endif %}

		{% if songs %}
		<div class="music_player_container">
			<br><br>
			<h3 style="margin: 1vh">Playlist</h3>
			{% load static %}
			<script src="{% static 'scripts/MusicPlayer.js' %}"></script>
			<audio id="player" controls>
				<source src='#'>
			</audio>
			<ul id="playlist">
				{% for song in songs %}
					<li>
						<a>
							<source src="{{ song.file.url }}">{{ song }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
	</div>
	
{% endblock %}