{% extends 'user/base.html' %}
{% block content %}
	<div class="form">
		<form method="POST">
			{% csrf_token %}
			<fieldset>
				<legend>Register</legend>
				{{ form.as_p }}
				<button type="submit">Sign Up</button>
			</fieldset>
		</form>
		<div>
				Already have an account? <br><br><a href="{% url 'login' %}">Sign In</a>
		</div>
	</div>
{% endblock %}